.modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.modal_content{
    display: flex;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0px;
    border: 0px solid #888;
    width: 80%;
    max-width: 800px;
}
.modal_leftside{
    display:flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 200px;
    padding: 20px;
    background-color: #fffbf3;
}
.modal_center {
    display:flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 0px solid #888;
    width: 80%;
}

.modal_leftside_progress ul{
    list-style-type: none;
    padding: 0;
}
.modal_leftside_progress li{
    position: relative;
    margin-bottom: 20px;
}
.modal_leftside_progress li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    background-color: #ccc;
    border-radius: 50%;
}

.modal_leftside_progress li div {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.modal_leftside_progress li:hover div {
    display: block;
}
.modal_leftside_content{
    height: 70%;
    margin-top: 50%;
    margin-bottom: 50%;
}

.modal_leftside_question{
    margin-top: 0;
}
.modal_center{
    margin-top:0;
    margin-bottom:0;
    flex:1;
    width:550px;
    padding: 10px 0px;
    
}
.modal_center_header{
    display: flex;
    flex:0 0 auto;
    justify-content: space-between;
    text-align:left;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding-left:10px; 
    padding-right:10px;
    margin-right: 10px; 
    width:550px;
    height: 40px auto;
}
.modal_center_body{
    display:flex;
    flex:1 1 auto;
    overflow-y:auto;
    text-align: center;
    left: 50%;
    right: 50%;
    width:550px;
    
}
.row{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    width:550px;      
}
a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.item1,
.item2,
.item3,
.item4,
.item5{
    cursor: pointer;
    flex:1;
    display: flex;
    background: #fff;
    border: 1px solid #e5e7ee;
    align-items: center;
    box-shadow: none;
    outline: 0;
    padding: 10px;
    margin:7px;
    color: #1f222b;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
    flex: 0 0 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin-right: 15px;
    display: block;
    border-radius: 8px;
}

.item span {
    margin-top: 5px;
}

/* -------------------------------rightside--------------- */
.modal_rightside_header{
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	background-image: radial-gradient(#d4d4d4 1px, transparent 0);
    background-size: 7px 7px;
    display: flex;    
    padding: 12px 20px;    
    justify-content: flex-end;
    
}
.modal_rightside {
    flex: 0 0 250px;
    padding: 20px;
    margin-left:10px;
    background-color: #fffbf3;
    text-align: left;
    
    
}
.selected-service {
    margin-bottom: 10px;
    font-weight: bold;
}
.modal_center_footer button {
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

.modal_center_footer button:hover {
    background-color: #e5e5e5;
}
.service_box{
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

/* --------------sizemodal-------------------------------- */
/* 평수 선택 모달 창 스타일 */

.sizeModal_center_body{
    display:flex;
    flex:1 1 auto;
    overflow-y:auto;
    text-align: center;
    left: 50%;
    right: 50%;
    width:550px;
    justify-content: center; /* 가로 가운데정렬 */
    align-items: center; /* 세로가운데정렬 */   
}
.sizeModal_center_body p{
     color: #bbb;
}


.size-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    padding :10px 5px;
    border: 2px solid rgba(0, 0, 0, .05);
    border-radius: 8px;
    
}

.size-control #decreaseSize {
    font-size: 20px;
    padding: 5px 13px;
    margin: 0 5px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 12px;
    cursor: pointer;
}
.size-control #increaseSize {
    font-size: 20px;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 12px;
    cursor: pointer;
}

.size-control input {
    font-size: 31px;
    width: 60px;
    text-align: center;
    border: none;
    
    
}

.modal_center_footer {
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    justify-content: space-between;
    flex:0 0 auto;
    background-color: #fff;
}

.modal_center_footer button {
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
}

.modal_center_footer button:hover {
    background-color: #e5e5e5;
}

/* -------------------serviceCheckModal---------- */
.serviceCheckModal_center_body{
	 display:flex;
    flex:1 1 auto;
    overflow-y:auto;
    text-align: center;
    left: 50%;
    right: 50%;
    width:550px;
    justify-content: center; /* 가로 가운데정렬 */
    align-items: center; /* 세로가운데정렬 */   
	
}

.serviceCheckBox{
	border: 1px solid rgba(0, 0, 0, .05);
	border-radius: 8px;
}










